<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit the post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="card inside" style="width: 18rem;">
        <h5 class="card-title">@<%=post.username%></h5>
        <img src="<%=post.image%>" class="card-img-top" alt="...">
        <div class="card-body">
           <form action="/posts/<%=post.id%>?_method=PATCH" method="post">
             <input type="text" name="caption" placeholder="<%=post.caption%>">
             <button>Submit</button>
           </form>
        </div>
    </div>
</body>
</html>